# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Run code analysis
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flutter-analyze:
    timeout-minutes: 45
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup flutter
        uses: subosito/flutter-action@f2c4f6686ca8e8d6e6d0f28410eeef506ed66aff
        with:
          flutter-version: "3.27.x"
          channel: "stable"
          cache: true
      - name: Setup melos
        uses: bluefireteam/melos-action@6085791af7036f6366c9a4b9d55105c0ef9c6388
        with:
          melos-version: "6.0.0"
      - name: "Run Flutter Analyze"
        run: melos run flutter-analyze

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Setup flutter
        uses: subosito/flutter-action@f2c4f6686ca8e8d6e6d0f28410eeef506ed66aff
        with:
          flutter-version: "3.27.x"
          channel: "stable"
          cache: true
      - name: Setup melos
        uses: bluefireteam/melos-action@6085791af7036f6366c9a4b9d55105c0ef9c6388
        with:
          melos-version: "6.0.0"
      - name: Restore Cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: /home/linuxbrew/.linuxbrew
          key: ${{ runner.os }}-linuxbrew
      - name: Install swiftformat 0.54.6
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          export HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1
          curl -O https://raw.githubusercontent.com/Homebrew/homebrew-core/4564fbc21a326c4eb349327ce327cbe983bf302a/Formula/s/swiftformat.rb
          echo 'brew "swiftformat.rb"' > Brewfile
          brew bundle
      - name: Save Cache
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: /home/linuxbrew/.linuxbrew
          key: ${{ runner.os }}-linuxbrew
      - name: Formatter version
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          swiftformat --version
      - name: Run format
        if: ${{ success() || failure() }}
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          melos run format
      - name: Validate formatting
        if: ${{ success() || failure() }}
        run: |
          ./.github/workflows/scripts/validate-formatting.sh
